<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">

  <meta name="description" content="{{ site.description }}"">
  <meta name="author" content="{{ site.author }}">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/images/favicon/mstile-150x150.png">
  <meta name="msapplication-tooltip" content="{{ site.description }}">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  {% if page.title %}
    {% assign title=page.title | append: " | " | append: site.title %}
  {% else %}
    {% assign title=site.title %}
  {% endif %}
  <title>{{ title }}</title>

  <!-- OG -->
  <meta name="profile:first_name" content="Zhixiang">
  <meta name="profile:last_name" content="Teoh">
  <meta name="profile:username" content="zhixiangteoh">
  <meta name="og:title" content="{{ title }}">
  <meta name="og:type" content="website">
  <meta property="og:image" content="https://teohzhixiang.com/images/favicon/android-chrome-512x512.png">
  <meta name="og:description" content="{{ site.description }}">
  <meta name="og:locale" content="en_US">
  <meta name="og:site_name" content="{{ site.title }}">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Zhixiang Teoh">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="https://teohzhixiang.com/images/favicon/android-chrome-512x512.png">
  <meta name="twitter:creator" content="@zhixiangteoh">
  <meta name="twitter:site" content="@zhixiangteoh">

  {% feed_meta %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />
  {% include toggle_theme_js.html %}
</head>
